.nav-title {
    font-size: 24px;
    color: #f2f2f2;
    text-decoration: none;
}

.nav-subtitle {
  font-size: 14px;
  color: #f2f2f2;
}

.nav {
  text-align: center;
  background-color: #000000;
  overflow: hidden;
}

.nav-link {
  float: left;
  color: #f2f2f2;
  background-color: #000000;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  border:none;
  cursor: pointer;
  outline:0;
}